{% extends 'base.html' %}
{% block body %}
<div class="header-wrap">
    <header>
        <div class="container_24">
        <h1><span></span>Businex</h1>
        <div class="slogan"><img src="{{ STATIC_URL }}main/images/slogan.png" alt=""></div>
        <nav>
            <ul>
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="index-1.html">Services</a></li>
            <li><a href="index-2.html">Solutions</a></li>
            <li><a href="index-3.html">Support</a></li>
            <li><a href="index-4.html">Contacts</a></li>
          </ul>
        </nav>
        <form action="" id="search-form" class="search-form">
          <fieldset>
            <input type="submit" value=""><input type="text" value="">
          </fieldset>
        </form>
      </div>
    </header>
  </div>
  <section id="content">
    <div class="container_24">
        <div class="wrapper">
          <aside class="grid_7">
            <div class="indent">
            <div class="box">
                <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Joomla! License</a></li>
                <li><a href="#">News Feeds</a></li> 
                <li><a href="#">Wrapper</a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">Poll</a></li>
                <li class="last"><a href="#">Search</a></li>
              </ul>
            </div>
            <div class="box1">
                <h3>Login Form</h3>
              <form action="" id="login-form" class="login-form">
                <fieldset>
                    <div class="field"><label>Username</label><input type="text"></div>
                  <div class="field"><label>Password</label><input type="password"></div>
                  <div class="field"><label class="alt">Remember me</label><input type="checkbox"></div>
                  <ul>
                    <li><a href="#">Forgot your password?</a></li>
                    <li><a href="#">Forgot your username?</a></li>
                    <li><a href="#">Create an account.</a></li>
                  </ul>
                  <div class="wrapper">
                    <input type="submit" value="Login">
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="box1">
                <h3>Our Poll</h3>
              <form action="" id="poll-form" class="poll-form">
                <fieldset>
                    <h6>Joomla! is used for?</h6>
                    <ul>
                    <li><input type="radio" name="radio" id="radio"><label for="radio">Community Sites</label></li>
                    <li><input type="radio" name="radio" id="radio1"><label for="radio1">Public Brand Sites</label></li>
                    <li><input type="radio" name="radio" id="radio2"><label for="radio2">eCommerce</label></li>
                    <li><input type="radio" name="radio" id="radio3"><label for="radio3">Blogs</label></li>
                    <li><input type="radio" name="radio" id="radio4"><label for="radio4">Intranets</label></li>
                  </ul>
                  <div class="wrapper">
                    <input type="submit" value="Results"><input type="submit" value="Vote">
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </aside>
          <div class="grid_17">
            <div class="inside">
            <article>
              <header>
                <h2>Clients choose us!</h2>
                <div class="post-meta">
                  <span class="author">Written by <a href="#">Administrator</a></span>
                  <span class="date">Thursday, 14 Feb 2010</span>
                </div>
              </header>
              <div class="content">
                <blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</blockquote>
                <div class="wrapper">
                  <a href="#" class="button">read more</a>
                </div>
              </div>
            </article>
            <article>
              <div class="container_24">
                <div class="grid_8 alpha">
                  <div class="box2">
                    <h3>Latest News</h3>
                    <ul class="list1">
                      <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</a></li>
                      <li><a href="#">Nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</a></li>
                      <li><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</a></li>
                      <li><a href="#">Suscipit lobortis nisl ut aliquip ex ea commodo consequat.</a></li>
                    </ul>
                  </div>
                </div>
                <div class="grid_8 omega">
                  <div class="box2">
                    <h3>Lead Story</h3>
                    <p><img src="{{ STATIC_URL }}main/images/1page-img1.jpg" alt=""></p>
                    <h5>Lorem ipsum dolor sit amet, consectetuer</h5>
                    <p>adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <header class="alt">
                <h2>We know how to help you!</h2>
                <div class="post-meta">
                  <span class="author">Written by <a href="#">Administrator</a></span>
                  <span class="date">Thursday, 12 Feb 2010</span>
                </div>
              </header>
              <div class="content">
                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</h4>
                <p>Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
                <div class="wrapper">
                  <a href="#" class="button">read more</a>
                </div>
              </div>
            </article>
          </div>
        </div>
        </div>
    </div>
  </section>
  <div class="footer-wrap">
    <footer class="container_24">
        businex &copy; 2010 <a href="index-5.html">privacy policy</a>
   
<div class="vlinks"><a href="http://www.webdesign.org">Web design</a> by <a title="Free Templates Online" href="http://www.freetemplatesonline.com">Free Templates</a> Online</div>
    </footer>
  </div>
 {% endblock body %}