{% extends 'base.html' %}
{% block right-content %}
<article>
  <header>
    <h2>Human talent is the most important!</h2>
  </header>
  <div class="content">
    <blockquote>
        Human talent is the most important for the functioning of any organization.
        We think that if there is no human capital capable of innovation and learning, businesses fail.
        Employees of companies today need many more skills and talents than before, 
        and to compete they have to have the highest skills possible.<br /><br />
        <h4>In Django Talents are the best programmers in Django, the most powerful framework to develop web aplications!</h4>
    </blockquote>
  </div>
</article>
{% comment %}
<article>
  <div class="container_24">
    <div class="grid_8 alpha">
      <div class="box2">
        <h3>Latest News</h3>
        <ul class="list1">
          <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</a></li>
          <li><a href="#">Nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</a></li>
          <li><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</a></li>
          <li><a href="#">Suscipit lobortis nisl ut aliquip ex ea commodo consequat.</a></li>
        </ul>
      </div>
    </div>
    <div class="grid_8 omega">
      <div class="box2">
        <h3>Lead Story</h3>
        <p><img src="{{ STATIC_URL }}main/css/images/1page-img1.jpg" alt=""></p>
        <h5>Lorem ipsum dolor sit amet, consectetuer</h5>
        <p>adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
      </div>
    </div>
  </div>
</article>
{% endcomment %}
<article>
  <header class="alt">
    <h2>We know how to help you!</h2>
  </header>
  <div class="content">
    <h4>
    Want to succeed in your project? is simple! You need the best tools and the best programmers for it...You need Django Talents programmers!
    </h4>
  </div>
</article>
{% endblock right-content %}