{% extends 'index.html' %}
{% load simplegravatar %}
{% block right-content %}
<article>
  <header>
   {% block content-title %}
       <h2>Talented people in {{ country }}</h2>
   {% endblock content-title %}
  </header>
  <div class="content">
    <blockquote>
        <a class="yellow return" href="{% url talents %}">&lt;&lt;&nbsp;All countries</al>
        {% for profile in profiles %}
            <div class="profile-box">
                <div class="gravatar-by-country">{% show_gravatar profile.user.email 60%}</div>
                    <a href="{% url talent profile.user.username %}">
                        <h3>{{ profile.get_display }}</h3>
                    </a>
                <div class="container-by-country">{{ profile.bio|truncatewords_html:30 }}</div>
            </div>
        {% endfor %}
    </blockquote>
  </div>
</article>
{% endblock right-content %}