{% extends 'base.html' %}
{% load markup %}
{% load simplegravatar %}
{% block right-content %}
<article>
  <header>
    {% block content-title %}
        <h2>{{ profile.get_display }} - {{ profile.location }}</h2>
    {% endblock content-title%}
  </header>
  <div class="content">
    <blockquote>
        <a class="yellow return" href="{% url talents_by_country profile.country.iso %}">&lt;&lt;&nbsp;All in {{ profile.country }}</a>
        <div class="bio-gravatar-container">
            <div class="gravatar-section">{% show_gravatar profile.user.email 120 %}</div>
            <h2 class="red">Am I looking for a job? {{ profile.get_looking_for_a_job_display }}</h2>
            <div class="bio-talent">{{ profile.bio|markdown:"safe" }}</div>
        </div>
        <h5 class="last-updated-field">Last updated {{ profile.last_updated }}</h5>
        {% if not user == profile.user %}
        <a href="{% url talent_contact profile.user.username %}">
            <input type="button" value="contact this talent" class="contact-talent"><br />
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="social-box">
        {% if profile.github %}
             <div class="social">
                <a rel="external" target="_blank" href="http://github.com/{{ profile.github }}">
                   <img title="github" src="{{ STATIC_URL }}main/css/images/github.png">
                </a>
                <label class="social-user">{{ profile.github }}</label>
             </div>
        {% endif %}
        {% if profile.twitter %}
            <div class="social">
                <a rel="external" target="_blank" href="http://twitter.com/{{ profile.twitter }}">
                   <img title="twitter" src="{{ STATIC_URL }}main/css/images/twitter.png">
                </a>
                <label class="social-user">{{ profile.twitter }}</label>
            </div>
        {% endif %}
        {% if profile.facebook %}
             <div class="social">
                 <a rel="external" target="_blank" href="http://facebook.com/{{ profile.facebook }}">
                     <img title="facebook" src="{{ STATIC_URL }}main/css/images/facebook.png">
                 </a>
                <label class="social-user">{{ profile.facebook }}</label>
             </div>
        {% endif %}
        {% if profile.gtalk %}
             <div class="social">
                  <img title="gtalk" src="{{ STATIC_URL }}main/css/images/gtalk.png">
                  <label class="social-user">{{ profile.gtalk }}</label>
             </div>
        {% endif %}
        {% if profile.skype %}
            <div class="social">
                <img title="skype" src="{{ STATIC_URL }}main/css/images/skype.png">
                <label class="social-user">{{ profile.skype }}</label>
            </div>
        {% endif %}
        {% if profile.msn %}
            <div class="social">
                 <img title="msn" src="{{ STATIC_URL }}main/css/images/msn.png">
                 <label class="social-user">{{ profile.msn }}</label>
            </div>
        {% endif %}
        {% if profile.yahoo %}
            <div class="social">
                <img title="yahoo" src="{{ STATIC_URL }}main/css/images/yahoo.png">
                <label class="social-user">{{ profile.yahoo }}</label>
            </div>
        {% endif %}
        {% if profile.aim %}
             <div class="social">
                 <img title="aim" src="{{ STATIC_URL }}main/css/images/aim.png">
                 <label class="social-user">{{ profile.aim }}</label>
              </div>
        {% endif %}
        {% if profile.jabber %}
             <div class="social">
                  <img title="jabber" src="{{ STATIC_URL }}main/css/images/jabber.png">
                  <label class="social-user">{{ profile.jabber }}</label>
             </div>
        {% endif %}
        {% if profile.irc %}
             <div class="social">
                 <img title="irc" src="{{ STATIC_URL }}main/css/images/irc.png">
                 <label class="social-user">{{ profile.irc }}</label>
            </div>
        {% endif %}
        {% if profile.website %}
             <div class="social">
                 <a rel="external" target="_blank" href="{{ profile.website }}">
                     <img title="website" src="{{ STATIC_URL }}main/css/images/website.png">
                     <label class="social-user">{{ profile.website }}</label>
                </a>
            </div>
        {% endif %}
        {% if profile.blog %}
            <div class="social">
                 <a rel="external" target="_blank" href="{{ profile.blog }}">
                    <img title="blog" src="{{ STATIC_URL }}main/css/images/blog.png">
                    <label class="social-user">{{ profile.blog }}</label>
                </a>
            </div>
        {% endif %}
        </div>
        {% else %}
            Do you want to see contact information about this user?<br/>
            Login or <a href="{% url signup %}">Signup</a>
        {% endif %}
    </blockquote>
  </div>
</article>
{% endblock right-content %}