#codenga-logo {
    margin: 10px 0 20px 130px;
}
.country:hover {
    text-decoration: underline;
}
form input[type="text"],
form input[type="password"],
form select {
    height: 25px;
    width: 350px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin:  1px 10px 10px 10px;
    padding: 1px 5px;
    font-size: 14px;
}
form textarea {
    resize: vertical;
    width: 350px;
    height: 200px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin:  5px 10px 10px 10px;
    padding: 1px 5px;
    font-size: 14px;
}
form label {
    font-size: 16px;
    margin-bottom: 10px;
}
.errorlist {
    color: red;
}
.alert {
    color: #FEAD20;
}
